body {
  margin: 0;
  padding: 0;
  font-family: serif;
  background-color: #1e1e1eb9;
  color: #ffffff;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #393939;
  margin-bottom: 0;
}

.rightbar {
  text-align: right;
  padding-right: 20px;
  padding-top: 0px;
  display: inline-block;
  padding-left: 50px;
  margin-top: 20px;
  width: 125px;
  float: right;
  text-align: right;

  
  

}



.leftbar {
  text-align: left;
  padding-right: 20px;
  padding-top: 0px;
  display: inline-block;
  padding-left: 20px;
  /* padding-top: 10px; */
}

.topbar {
  background-color: #474747;
  height: 140px;
}



.title {
  font-size: 50px;
  margin: 0 0 10px 0;
  line-height: 1.2;
}

header h2 {
  font-variant: small-caps;
  margin: 0;
  line-height: 1.4;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3b3b3b;
  cursor: pointer;
  border: 3px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 2px;
  padding-left: 10px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 0px;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.text-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3b3b3b;
  background-color: white;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  margin-bottom: 0px;
}

.text-54-small {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3b3b3b;
  background-color: white;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 0px;
  text-align: center;
}

.paragraph {

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #3b3b3b;
  background-color: white;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  
}

.about {
  display: flex;
  align-items: center;
  justify-content: center; /* (optional) to center both items horizontally */
  gap: 20px; /* (optional) spacing between text and image */
}