body {
  margin: 0;
  padding: 0;
  font-family: serif;
  background-color: #000000;
  color: #878686;
}

.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #161414;
}

header {
  padding: 40px;
  text-align: left;
  text-shadow: 3px 3px 0px rgb(49, 49, 49);
  flex: 1;
}

.right-header {
  padding: 40px;
  text-align: right;
  text-shadow: 3px 3px 0px rgb(49, 49, 49);
  flex: 1;
}

.sidebar h2 {
  font-variant: small-caps;
  margin: 20px 0;
  line-height: 1.4;
}

header h1 {
  font-size: 50px;
  margin: 0 0 10px 0;
  line-height: 1.2;
}

header h2 {
  font-variant: small-caps;
  margin: 0;
  line-height: 1.4;
}